<template>
  <div class="container">
    <div class="way">
      Главная <img :src="moreSigne"> <span style="border-bottom: solid 1px #8A8B8D">МИП</span>
    </div>
    <div class="title">
      Малые инновационные предприятия
    </div>
    <div class="Mips" v-for="(item,id) in mipsArr"
                      :key="id"
    >

      <div  class="document"
            @click="setActive(id)">
        <div class="Mips__info" >
          <div class="document__title" >
            {{ item.title }}
          </div>
            <ul class="info" style="padding: 16px" v-if="activeItems.includes(id)">
              <li>О предприятии:<span>{{ item.infoP }}</span></li>
              <li>Главный директор:<span>{{item.mainDirector}}</span></li>
              <li>Направление:<span>{{item.direction}}</span></li>
              <li>Официальный сайт:<span>{{ item.officialWeb }}</span></li>
              <li>Предмет деятельности:<span>{{ item.subjectOfActivity }}</span></li>
              <li>Сотрудники:<span>{{ item.employees }}</span></li>
              <li>Контакты:<span>{{ item.contacts }}</span></li>
            </ul>
        </div>
        <div class="link__icon">
          <img class="img__arr" :src="linkIc">
        </div>
      </div>

<!--      <div href="#" class="document" @click="setActive(2)">-->
<!--        <div class="Mips__info">-->
<!--          <div class="document__title">-->
<!--            Пывапывапывап-->
<!--          </div>-->
<!--          <ul class="info" style="padding: 16px" v-if="activeItems.includes(2)" >-->
<!--            <li>О предприятии:<span>Центром разработаны эффективные технологии и технологическое оборудование для производства дезинфицирующих <br> растворов на основе гипохлорита натрия с использованием системы диафрагменного электролиза.</span></li>-->
<!--            <li>Главный директор:<span>Абдулгалим Исаев</span></li>-->
<!--            <li>Направление:<span>Иследования</span></li>-->
<!--            <li>Официальный сайт:<span>-</span></li>-->
<!--            <li>Предмет деятельности:<span>-</span></li>-->
<!--            <li>Сотрудники:<span>-</span></li>-->
<!--            <li>Контакты:<span>-</span></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="link__icon">-->
<!--          <img class="img" :src="linkIc">-->
<!--        </div>-->
<!--      </div>-->

<!--      <div href="#" class="document" >-->
<!--        <div class="document__title">-->
<!--          ПрилаопральорпоБЕСПЕЧЕНИЕ-->
<!--        </div>-->
<!--        <ul class="info" style="padding: 16px" v-if="show" >-->
<!--          <li>О предприятии:<span>Центром разработаны эффективные технологии и технологическое оборудование для производства дезинфицирующих <br> растворов на основе гипохлорита натрия с использованием системы диафрагменного электролиза.</span></li>-->
<!--          <li>Главный директор:<span>Абдулгалим Исаев</span></li>-->
<!--          <li>Направление:<span>Иследования</span></li>-->
<!--          <li>Официальный сайт:<span>-</span></li>-->
<!--          <li>Предмет деятельности:<span>-</span></li>-->
<!--          <li>Сотрудники:<span>-</span></li>-->
<!--          <li>Контакты:<span>-</span></li>-->
<!--        </ul>-->
<!--        <div class="link__icon" >-->
<!--          <img class="img" :src="linkIc">-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</template>

<script>
export default {
  name: "DocumentsItems",
  data(){
    return{
      RotateUp : '0',
      linkIc : require('../assets/arrow.svg'),
      moreSigne : require('../assets/moreSign.svg'),
      show: false,
      mipsArr:[
        {
          title:'  ООО «Экотех» ДГУ',
          infoP:'Центром разработаны эффективные технологии и технологическое оборудование для производства дезинфицирующих растворов на основе гипохлорита натрия с использованием системы диафрагменного электролиза.',
          mainDirector:'Абдулгалим Исаев',
          direction:'Иследования',
          officialWeb:'-',
          subjectOfActivity:'-',
          employees:'-',
          contacts:'-',
        },
        {
          title:'  asdfsagdsgh',
          infoP:'Цеsfgdsfgологическое оборудование для производства дsfdgsdfgве гипохлориsfgsdfанием системы диафрагменного электролиза.',
          mainDirector:'Абдулгалим Исаев',
          direction:'Иследования',
          officialWeb:'gfmh,mhk   shdf',
          subjectOfActivity:'5u6jk76k67k',
          employees:'fgkjjhgkkghjkhj,',
          contacts:'76868458568',
        }
      ],
      activeItems: [],//раскрытые элементы
    }
  },
  methods:{

    //open and close

    setActive(id){
      if (this.activeItems.includes(id)){
        this.activeItems = this.activeItems.filter((item) => item !== id )
      }
      else {
        this.activeItems.push(id);
      }
    }
  }
}

</script>

<style scoped>
.container{
  flex: 1 1 auto;
}
img{
  width: 15px;
  height: 15px;
}
li{
  display: flex;
  color: #8A8B8D;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 156%;
}
li :last-child{
  margin-bottom: 0;
}
li span{
  color: #111111;
  margin-left: 24px;
  margin-bottom: 12px;
}
.info{
  margin: 12px 0 0;
}

</style>